<div id="game">
  <canvas></canvas>
  <div id="mainUi">
    <div id="actionMenu">
      <div class="move"></div>
      <div class="act"></div>
      <div class="skip"></div>
    </div>
  </div>
</div>

<script id="tpl-turnlist" type="text/template">
  <li>
    <h4></h4>
    <div class="unit.name"></div>
    <div class="index"></div>
    <div class="portrait"></div>
  </li>
</script>
