<div id="game">
  <canvas></canvas>
  <div id="mainUi">
    <div id="turnList">
      <h4>Turn List</h4>
      <ul>
        <li>
          <a></a>
          <span>Lemurian Marine</span>
        </li><li>
          <a></a>
          <span>Lemurian Marine</span>
        </li><li>
          <a></a>
          <span>Lemurian Marine</span>
        </li><li>
          <a></a>
          <span>Lemurian Marine</span>
        </li>
      </ul>
    </div>
    <div id="unitInfo" class="marine">
      <div class="portrait"></div>
      <div class="name">Lemurian Marine</div>
      <div class="health gauge">
        <div class="value">200/300</div>
        <div class="bar"></div>
        <div class="background"></div>
      </div>
      <div class="energy gauge">
        <div class="value">200/300</div>
        <div class="bar"></div>
        <div class="background"></div>
      </div>
      <div class="action gauge">
        <div class="value">200/300</div>
        <div class="bar"></div>
        <div class="background"></div>
      </div>
      <div class="turn gauge">
        <div class="value">95%</div>
        <div class="bar"></div>
        <div class="background"></div>
      </div>
    </div>
    <div id="actionMenu">
      <div class="cancel"></div>
      <div class="move"></div>
      <div class="act"></div>
      <div class="skip"></div>
    </div>
    <div id="actionConfirm">
      <div class="cancel button"></div>
      <div class="confirm button"></div>
    </div>
  </div>
</div>

<script id="tpl-turnlist" type="text/template">
  <li>
    <h4></h4>
    <div class="unit.name"></div>
    <div class="index"></div>
    <div class="portrait"></div>
  </li>
</script>
